<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomePage</key>
	<array>
		<dict>
			<key>header</key>
			<string></string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>电视剧</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>韩剧</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>电影</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>综艺</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>娱乐&amp;搞笑</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>资讯</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>音乐</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>动漫</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>原创&amp;出品</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>体育&amp;人文</string>
			<key>items</key>
			<array>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
				<string>image_1</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
