<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>观看记录</key>
	<array>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
	</array>
	<key>我的缓存</key>
	<array>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
		<dict>
			<key>video_title</key>
			<string>iphone6引发的惨案</string>
			<key>video_time</key>
			<string>05:16</string>
			<key>video_icon</key>
			<string>image_1</string>
		</dict>
	</array>
</dict>
</plist>
