<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>网络设置</string>
		<string>播放设置</string>
		<string>缓存设置</string>
		<string>消息设置</string>
		<string>用户反馈</string>
	</array>
	<key>网络设置</key>
	<array>
		<dict>
			<key>title</key>
			<string>允许2G/3G/4G下在线播放</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>允许2G/3G/4G下缓存视频</string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
	<key>播放设置</key>
	<array>
		<dict>
			<key>title</key>
			<string>优先播放超清</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>优先播放高清</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>优先播放标清</string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
	<key>缓存设置</key>
	<array>
		<dict>
			<key>title</key>
			<string>优先缓存超清</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>优先缓存高清</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>优先缓存标清</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>选择缓存路径</string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
	<key>消息设置</key>
	<array>
		<dict>
			<key>title</key>
			<string>消息通知</string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>版本更新</string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
	<key>用户反馈</key>
	<array>
		<dict>
			<key>title</key>
			<string>问题反馈</string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>为我评分</string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
